*/.env
smart-contract/coverage
smart-contract/coverage.json
smart-contract/typechain
smart-contract/typechain-types

#Hardhat files
smart-contract/cache
smart-contract/artifacts

*/node_modules
*/dist
dashboard/build