<div
  style="
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 10px;
  "
>
  <input
    type="text"
    style="
      margin-bottom: 10px;
      box-sizing: border-box;
      border: 1px solid rgba(75, 85, 99, 1);
      border-radius: 0.5rem;
      padding: 0.5rem;
      padding-left: 1rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: rgba(255, 255, 255, 1);
      background-color: rgba(150, 150, 150, 0.2);
      width: 100%;
    "
    placeholder="Enter your value"
  />
  <a
    role="link"
    class="css-4rbku5 css-18t94o4 css-1dbjc4n r-l5o3uw r-42olwf r-sdzlij r-1phboty r-rs99b7 r-1loqt21 r-2yi16 r-1qi8awa r-1ny4l3l r-ymttw5 r-o7ynqc r-6416eg r-lrvibr"
  >
    <div
      dir="ltr"
      class="css-901oao r-1awozwy r-jwli3a r-6koalj r-18u37iz r-16y2uox r-37j5jr r-a023e6 r-b88u0q r-1777fci r-rjixqe r-bcqeeo r-q4m81j r-qvutc0"
      style="text-overflow: unset"
    >
      <span
        class="css-901oao css-16my406 css-1hf3ou5 r-poiln3 r-a023e6 r-rjixqe r-bcqeeo r-qvutc0"
        style="text-overflow: unset"
      >
        <span
          class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0"
          style="text-overflow: unset"
          >Submit</span
        >
      </span>
    </div>
  </a>
</div>
